@{
    ViewData["Title"] = "Equipes";
}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    var errorMessages = ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage);
    foreach (var errorMessage in errorMessages)
    {
        <script>
            alert('@Html.Raw(errorMessage)');
        </script>
    }
}

<!-- Formulário para cadastro de nova pessoa -->
<form asp-action="Create" method="post">
    <div class="form-group">
        <input type="hidden" class="form-control" id="Id_Equipe" name="Id_Equipe" value="3fa85f64-5717-4562-b3fc-2c963f66afa6" />
    </div>

    <div class="form-group">
        <label for="Nm_Equipe">Nome</label>
        <input type="text" class="form-control" id="Nm_Equipe" name="Nm_Equipe" required />
    </div>

    <div class="form-group">
        <label for="Idad_Mini">Idade Mínima</label>
        <input type="text" class="form-control" id="Idad_Mini" name="Idad_Mini" required maxlength="2" pattern="^(0?[1-9]|[1-9][0-9])$" title="Digite um número entre 1 e 99." />
    </div>


    <div class="form-group">
        <label for="Sexo">Sexo</label>
        <select class="form-control" id="Sexo" name="Sexo" required>
            <option value="M">Masculino</option>
            <option value="F">Feminino</option>
            <option value="A">Ambos</option>
        </select>
    </div>

    <button type="submit" class="btn btn-primary">Cadastrar</button>
    <button type="button" class="btn btn-primary" onclick="updateEquipe($('#Id_Equipe').val(), $('#Nm_Equipe').val(), $('#Idad_Mini').val(), $('#Sexo').val())">Alterar</button>
    <button type="button" class="btn btn-primary" onclick="deleteEquipe($('#Id_Equipe').val())">Excluir</button>
    <button type="button" class="btn btn-primary" onclick="cancela()">Cancelar</button>
</form>

<hr />

<!-- Grid para exibir a lista de equipes -->
<div class="form-group mb-3">
    <label>Clique em item do grid pra carregar as informações</label>
</div>
<table class="table">
    <thead>
        <tr>
            <th style="display:none;">ID</th> <!-- Cabeçalho oculto -->
            <th>Equipe</th>
            <th>Idade Minima</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.Count > 0)
        {
            foreach (var equipe in Model)
            {
                <tr class="clickable-row" data-id_equipe="@equipe.Id_Equipe" data-nome="@equipe.Nm_Equipe" data-idade="@equipe.Idad_Mini" data-sexo="@equipe.Sexo">
                    <td style="display:none;">@equipe.Id_Equipe</td>
                    <td>@equipe.Nm_Equipe</td>
                    <td>@equipe.Idad_Mini</td>
                    <td>@equipe.Sexo</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="4">Nenhuma equipe encontrada.</td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mask-plugin/1.14.16/jquery.mask.min.js"></script>
    <script src="~/pages/equipes/equipes.js"></script>


}
