@{
    ViewData["Title"] = "Vinculando as pessoas a equipe";
}

<h2>@ViewData["Title"]</h2>

@if (!ViewData.ModelState.IsValid)
{
    var errorMessages = ViewData.ModelState.Values.SelectMany(v => v.Errors).Select(e => e.ErrorMessage);
    foreach (var errorMessage in errorMessages)
    {
        <script>
            alert('@Html.Raw(errorMessage)');
        </script>
    }
}

<!-- Formulário para cadastro de nova pessoa -->
<form asp-action="Create" method="post">
    <div class="form-group mb-3">
        <!-- Adiciona espaçamento inferior -->
        <input type="hidden" class="form-control" id="Id_Equipe" name="Id_Equipe" value="3fa85f64-5717-4562-b3fc-2c963f66afa6" />
    </div>

    <div class="form-group mb-3">
        <label for="CPF">CPF</label>
        <div class="input-group">
            <input type="text" class="form-control col-md-4" id="CPF" name="CPF" maxlength="14" placeholder="000.000.000-00" required oninput="formatCPF(this)" />
        </div>
    </div>

    <div class="form-group mb-3">
        <!-- Adiciona espaçamento inferior -->
        <label for="Nome">Nome</label>
        <input type="text" class="form-control" id="Nome" name="Nome" required />
    </div>

    <div class="form-group mb-3">
        <!-- Adiciona espaçamento inferior -->
        <label for="equipesDropdown">Selecione uma Equipe:</label>
        <select id="equipesDropdown" name="equipesDropdown" class="form-control">
            <option value="">Selecione uma equipe</option> <!-- Opção padrão -->
            @foreach (var equipe in Model.EquipesDropdown)
            {
                <option value="@equipe.Id_Equipe">@equipe.Nm_Equipe</option>
            }
        </select>
    </div>

    <button type="submit" class="btn btn-primary mb-2">Cadastrar</button> <!-- Adiciona espaçamento inferior -->
    <button type="button" class="btn btn-primary mb-2" onclick="deleteEquipesPessoas( $('#equipesDropdown').val(), $('#CPF').val())">Excluir</button> <!-- Adiciona espaçamento inferior -->
    <button type="button" class="btn btn-primary mb-2" onclick="cancela()">Cancelar</button>
</form>

<hr />

<!-- Grid para exibir a lista de equipes -->
<div class="form-group mb-3">
    <label>Clique em item do grid pra carregar as informações</label>
</div>
<table class="table">
    <thead>
        <tr>
            <th>Equipe</th>
            <th>Cpf</th>
            <th>Nome</th>
            <th>Idade</th>
            <th>Sexo</th>
        </tr>
    </thead>
    <tbody>
        @if (Model != null && Model.EquipesPessoas != null)
        {
            foreach (var equipePessoas in Model.EquipesPessoas)
            {
                <tr class="clickable-row"
                    data-id_equipe="@equipePessoas.Id_Equipe"
                    data-nome="@equipePessoas.Nome"
                    data-cpf="@equipePessoas.Cpf">

                    <td>@equipePessoas.nm_equipe</td>
                    <td>@equipePessoas.Cpf</td>
                    <td>@equipePessoas.Nome</td>
                    <td>@equipePessoas.Idade</td> <!-- Corrigido para 'Idade' se for o nome correto -->
                    <td>@equipePessoas.Sexo</td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="6" class="text-center">Nenhum registro encontrado.</td> <!-- Mensagem para exibir quando não há registros -->
            </tr>
        }

    </tbody>
</table>

@section Scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-mask-plugin/1.14.16/jquery.mask.min.js"></script>
    <script src="~/pages/equipesPessoas/equipesPessoas.js"></script>
    <script src="~/pages/global/global.js"></script>
}
